
<div class="col-xs-6 col-md-3">
  <% if cocktail.photo.file %>

    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
      <div class="card-description">
        <h2><%= cocktail.name %></h2>
        <p><%= cocktail.ingredients.first.name %></p>
      </div>

      <%= link_to '', cocktail_path(cocktail), class: "card-link" %>
    </div>

  <% else %>

    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'default_cocktail.jpg' %>)">
      <div class="card-description">
        <h2><%= cocktail.name %></h2>

        <% if cocktail.ingredients.first %>
          <p><%= cocktail.ingredients.first.name %></p>
        <% end %>

      </div>

      <%= link_to '', cocktail_path(cocktail), class: "card-link" %>
    </div>

  <% end %>
</div>


